---
import "../../styles/blogFrontPage.css";

export interface Props {
	bookpost: any;
}

const { bookpost } = Astro.props;
---
<!-- TODO: Change to have the images from the post used from (public\assets\bookreview) -->
<article class="post-preview">
	<header>
		<p class="publish-date">{bookpost.frontmatter.publishDate}</p>
		<a href={bookpost.url}><h1 id="title">{bookpost.frontmatter.title}</h1></a>
		<img href={bookpost.img}>
	</header>
	<p>{bookpost.frontmatter.description}</p>
	<a href={bookpost.url}>Read more</a>
</article>