---
import "../../styles/frontPage.css";

export interface Props {
	post: any;
}

let { post } = Astro.props;
---
<!-- TODO: Change to have the images from the post used from (public\assets\bookreview) -->
<article class="post-preview">
	<header>
		<p class="publish-date">{post.frontmatter.publishDate}</p>
		<a href={post.url}><h1 id="title">{post.frontmatter.title}</h1></a>
		<img src={post.frontmatter.img}>
	</header>
	<p>{post.frontmatter.description}</p>
	<a href={post.url}>Read more</a>
</article>