---
// https://codepen.io/ali-jasim/pen/rNeGKOR
import '../styles/theme.css';
// Component Imports
import Meta from '../components/MetaTags.astro';
import Cursor from '../components/cursorEffect/Cursor.astro';
import Navbar from '../components/Navbar.astro';
import Aside from '../components/Aside.astro';
import BlogPostPreview from '../components/blog/PostPreview.astro';
import { getBlogPosts, getPosts } from '../utils/api.astro';
	const { allBlogPosts } = await getBlogPosts();
	const { allPosts } = await getPosts();

const title = '<BLOG />';
const description = 'Hi! My name is Mark Spratt. I am a software engineer who started a blog!';
const permalink = '#';
---

<html lang="en">
	<head>
		<Meta title={title} description={description} permalink={permalink} />
		<script src="https://kit.fontawesome.com/e2fcf864fc.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<Cursor />
		<Navbar />
		<div class="container">
			<Aside post={allPosts}/>
			<main>{allBlogPosts.map((p) => <BlogPostPreview post={p} />)}</main>
		</div>		
	</body>
</html>

<script>

</script>

<style>

/*----------------Start Body----------------*/

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

main {
	overflow-y: scroll;
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin-top: 4rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}

</style>

