---
// https://codepen.io/ali-jasim/pen/rNeGKOR
import '../styles/theme.postcss';
// Component Imports
import Meta from '../components/MetaTags.astro';
import Cursor from '../components/cursorEffect/Cursor.astro';
import Navbar from '../components/Navbar.astro';
import Aside from '../components/Aside.astro';
import BlogPostPreview from '../components/blog/PostPreview.astro';
import { getBlogPosts, getPosts } from '../utils/api.astro';
	const { allBlogPosts } = await getBlogPosts();
	const { allPosts } = await getPosts();

const title = '<BLOG />';
const description = 'Hi! My name is Mark Spratt. I am a software engineer who started a blog!';
const permalink = '#';
---

<html lang="en">
	<head>
		<Meta title={title} description={description} permalink={permalink} />
	</head>
	<body id="top" class="indexPage">
		<Cursor />
		<Navbar />
		<div class="indexContainer">
			<Aside post={allPosts}/>
			<div class='articlelist'>{allBlogPosts.map((p) => <BlogPostPreview post={p} />)}</div>
		</div>
	</body>
</html>

<script>

</script>

<style>

/*----------------Start Body----------------*/

.indexContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* margin-top: 4rem; */
}

.articlelist {
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	margin-top: 3.5rem;
}

</style>

