---
import json from '../data/author.json';
import { Image } from '@astrojs/image/components';

// I want to take the page url and return a writer aside
const { name, bio, photo, twitter, twitterHandle, linkedin, github, githubHandle} = json.Mark;  // <-- Find the writer;

---

<aside class="card">
    <div class="image">
        <img src={photo} width={120} height={120} alt='Author Photo' height={120} />
    </div>

    <div class="text">
        <div class="writer">
            <h3 class='writerHeader'>Writer: </h3>
            <span >{name}</span>
        </div>
        <div class="bio">
            <h3 class='bioHeader'>Bio:</h3>
            <span>{bio}</span>
        </div>

        <!--Social Icons-->
        <div class="social-icons">
            <a href={twitter} aria-label="Authors Twitter"><i class="fab fa-twitter">{twitterHandle}</i></a>
            <a href={linkedin} aria-label="Authors LinkedIn"><i class="fab fa-linkedin">{name}</i></a>
            <a href={github} aria-label="Authors Github"><i class="fab fa-github">{githubHandle}</i></a>
        </div>
    </div>
</aside>

<style>
/*---------Aside----------*/
.card {
  flex-basis: var(--size-content-1);
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: var(--size-2);
  background: var(--surface2);
  border: 1px solid var(--surface-1);
  padding: var(--size-4);
  border: 1px solid var(--brand);
  box-shadow: var(--shadow-3);
  border-radius: var(--radius-3);
  margin: var(--size-4);
  transition: all 0.3s ease-in-out;
  margin-top: 5rem;
}

.card:hover {
  transform: scale(1.05);
  background: var(--surface3);
  box-shadow: var(--shadow-4);
  transition: transform 0.3s ease-in-out;
}

/*----------Image--------*/
/* Center image */
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img{
    border-radius: 50%;
}

.bio, .writer {
    border-top: 2px solid var(--brand);
    padding-top: var(--size-2);
    padding-bottom: var(--size-3);
}
/*---------Text-----------*/
.bioHeader, .writerHeader, .social-icons{
    font-size: var(--size-4);
    font-weight: bold;
    color: var(--brand);
    display: inline-block;
}

.text span {
    font-size: var(--size-3);
    color: var(--text2);
    margin-bottom: 5px;
}

/*------Social Icons-------*/
.social-icons{
    border-top: 2px solid var(--brand);
    font-size: var(--size-4);
    padding-top: var(--size-4);
}

i.fab {
    margin-top: 5px;
    margin-bottom: 5px;
}

.text span{
    padding-top: 5px;
    text-transform: uppercase;
}

/*---------Media-----------*/
@media (max-width: 768px) {
    .card{
        display: none;
    }
}

@media (min-width: 768px) {
    .card{
    }
}

/* media reduce the size of the card */
@media (max-width: 768px) {
    .card{
        display: none;
    }
}

</style>