---
import json from '../data/author.json';


// I want to take the page url and return a writer aside
const { name, bio, photo, twitter, twitterHandle, linkedin, github, githubHandle} = json.Mark;  // <-- Find the writer;

---

<aside class="surface3 aside">
    <div class="image">
        <img src={photo} alt="Writer's Photo" height="120">
    </div>

    <div class="text">
        <p>Writer: {name}</p>

        <hr style="width: 80%;">

        <h5>Bio:</h5>
        <p>{bio}</p>

        <hr style="width: 80%;">

        <!--Social Icons-->
        <div class="social-icons">
            <a href={twitter}><i class="fab fa-twitter">{twitterHandle}</i></a>
            <a href={linkedin}><i class="fab fa-linkedin">{name}</i></a>
            <a href={github}><i class="fab fa-github">{githubHandle}</i></a>
        </div>
    </div>
</aside>

<style>
/*---------Aside----------*/
.aside{
    top: 0;
    left: 0;
    width: 200px;
    height: 480px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 5px;
    margin: 0px 0 0 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 5.5rem;
}

/*----------Image--------*/
/* Center image */
.image{
    text-align: center;
    padding:20px;
}

.image img{
    border-radius: 50%;
}

/*---------Text-----------*/
.text{
    padding: 0 6%;

}

.text p:nth-child(1){
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 15px;
}

.text h5 {
    padding-top: 10px;
}

.text p{
    padding-bottom: 10px;
}

.text p:nth-child(4){
    font-size: 1rem;
    color: #858585;
}

.text p:nth-child(5){
    font-size: 1rem;
    color: #858585;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*---------Styled HR----------*/
.text hr{
    width: 80%;
    border: 1px solid #858585;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*------Social Icons-------*/
.social-icons{
    font-size: 1.2rem;
    padding-top: 10px;
}

.social-icons a{
    color: #4b4949;
    display: flex;
    align-items: center;
    padding-left: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.text span{
    font-size: 1rem;
    color: #858585;
    padding-top: 5px;
    text-transform: uppercase;
}

/*---------Media-----------*/
@media (max-width: 768px) {
    .aside{
        display: none;
    }
}
</style>