---
import {getAuthor} from '../../utils/api.astro'

export interface Props {
	title: string;
	writer: string;
	publishDate: string;
	alt: string;
	img: string;
	tags: string;
}

const { title, writer, publishDate, alt, img, tags } = Astro.props;
// const tag = tags.split(",")[0];

//gets the writers name and returns the author data from JSON. Then deconstructing the data into variables
const author = await getAuthor(writer);
const { name, twitter } = author;
---
<div class="postContainer">
	<article class="article">
		<!-- <img class="center-cropped" src={img} alt={alt} height={200} /> -->
		<div>
			<div class="coffee">
			</div>
			<div class="details">
				<h1>{title}</h1>
				<a href={twitter}><p>{name}</p></a>
				<span>{publishDate}  |  {tags}</span>
			</div>
		</div>
		<main>
			<slot />
		</main>
	</article>
</div>


<style>
.postContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.article {
	width: 100%;
	max-width: 800px;
	padding: 1rem;
}

.coffee {
	width: 100%;
	height: 50px;
}

.details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.details h1 {
	font-size: 2rem;
}

.details p {
	font-size: 1.5rem;
}

.details span {
	font-size: 1rem;
}


@media (min-width: 768px) {
	.details {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}


</style>
