---
import {getAuthor} from '../../utils/api.astro'

export interface Props {
	title: string;
	writer: string;
	publishDate: string;
	alt: string;
	img: string;
	tags: string;
}

const { title, writer, publishDate, alt, img, tags } = Astro.props;

const { minutesRead } = Astro.props;

//gets the writers name and returns the author data from JSON. Then deconstructing the data into variables
const author = await getAuthor(writer);
const { name, twitter, twitterHandle, linkedin, linkedinHandle, github, githubHandle, photo, bio } = author;
---
<div class="postContainer">
	<article class="article">
		<!-- <img class="center-cropped" src={img} alt={alt} height={200} /> -->
		<div>
			<div class="coffee">
			</div>
			<div class="details">
				<h1>{title}</h1>
				<p>{name}</p>
				<a href={twitter}><span>Twitter: {twitterHandle}</span></a>
				<span>LinkedIn: <a href={linkedin}>{linkedinHandle}</a></span>
				<span>Github: <a href={github}>{githubHandle}</a></span>
				<span>{publishDate}  |  {tags}</span>
				<p class="reading">📖{minutesRead}</p>
			</div>
		</div>
		<main>
			<slot />
		</main>
	</article>
</div>


<style>

.postContainer {
	flex-basis: var(--size-content-4);
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 1rem;
}

.article {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
}

.article {
	background: var(--surface2);
	border: 20px solid var(--surface2);
	padding: var(--size-4);
	border-radius: var(--radius-3);
	box-shadow: var(--shadow-4);
	border: 1px solid var(--brand);
}

.coffee{
    width: 170px;
}
.coffee > img {
    border-radius: 5px;
}

/* image golden ratio */
.center-cropped {
	object-fit: contain;
	width: 100%;
	height: auto;
	max-height: 200px;
	margin-top: var(--size-4);
	margin-bottom: var(--size-4);
}

/*--------Article Details-------------*/
.details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 1rem;
	color: var(--text2);
	align-items: center;
}

.details > h1 {
	font-size: var(--size-7);
	font-weight: var(--font-weight-7);
	margin-bottom: var(--size-2);
	color: var(--brand);
	text-shadow: 0 0 10px var(--gray-9)
}

.details p {
    font-size: var(--size-6);
    margin-top: 5px;
    color: var(--text3);
	font-weight: var(--size-3);
}

.details span {
    text-transform: uppercase;
    font-size: var(--size-5);
    color: var(--text3);
}
</style>
