---
import "../../styles/theme.postcss";

export interface Props {
	post: {
        frontmatter: {
            title: string;
            date: string;
            description: string;
            img: string;
        };
    }[];
}
const { post } = Astro.props;
const { title, publishDate, writer, href, description, img, alt, tags } = post.frontmatter;

const tag = tags.split(",")[0]; // returns the first tag

---
<!--Article-->
<div class="details">
    <article class='card surface3'>
        <div class="coffee">
            <img class="center-cropped" src={post.frontmatter.img} alt={alt} >
        </div>

        <div class="details">
            <a href={post.url}><h2 class='brand text3'>{title}</h2></a>
            <span class='text'>{publishDate}  |  {tag}</span>
            <br/>
            <span class='text'>{writer}</span>
            <p class='text3 truncate'>{description}</p>
        </div>
    </article>
</div>

<style>
/*----------------Section--------------*/
article {
    width: 500px;
    height: 200px;
    margin: 25px;
    padding: 20px;
    display: flex;
    transition: all 0.3s ease-in-out;
}

/* defines card style */
.card {
  flex-basis: var(--size-content-1);
  display: flex;
  flex-direction: row;
  gap: var(--size-4);
  background: var(--surface2);
  padding: var(--size-4);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-3);
  margin: var(--size-5);
  border: 1px solid var(--brand);
}

.card:hover {
  background: var(--surface3);
  box-shadow: var(--shadow-4);
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
}

a {
    text-decoration: none;
}

/*------------Coffee Image-------------*/
.coffee{
    width: 170px;
}
.coffee > img{
    border-radius: 5px;
}

.center-cropped {
  width: 160px;
  height: 160px;
  object-fit: cover;
  background-repeat: no-repeat;
}

/*--------Article Details-------------*/
.details h2 {
    text-transform: uppercase;
}

.details span {
    text-transform: capitalize;
    font-size: var(--size-3);
    font-weight: 300;
    /* color: #303030; */
}

.details p {
    font-size: var(--size-3);
    margin-top: 5px;
    padding-top: var(--gap-3);
}

/* remove link decoration */
.details a {
    font-size: 12px;
    text-decoration: none;
}

/* a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} */

.truncate {
  width: var(--size-fluid-8);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*-------------Media --------------------*/
@media (max-width: 768px) {
    article {
        display: flex;
        flex-direction: column;
        width: 460px;
    }
    .card:pointer {
        box-shadow: var(--shadow-4);
        background: var(--surface3);
        transform: translateY(-5px);
    }
}

</style>
