---
import Aside from '../Aside.astro';

export interface Props {
	title: string;
	writter: string;
	publishDate: string;
	heroImage: string;
	alt: string;
	img: string;
	tags: string;
}

const { title, writter, publishDate, alt, img, tags } = Astro.props;

// tags is a string seported by comma return first tag

---
<div class="page-container">
	<Aside writter={writter} />
	<article class="article">	
			
		<div>
			<div class="coffee">
				<img class="center-cropped" src={img} alt={alt} height="100%"/>
			</div>

			<div class="details">
				<h1>{title}</h1>
				<p>{writter}</p>
				<span>{publishDate}  |  {tags}</span>
			</div>
			</div>
		<main>
			<slot />
		</main>
	</article>
</div>


<style>

.page-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
	
.article {
	display: flex;
	flex-direction: column;
	justify-content: center;
    width: 100vh;
	height: auto;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 5px;
    margin-top: 5.5rem;
    margin-left: 30px;
    padding: 15px;
    display: flex;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.coffee{
    width: 170px;
}
.coffee > img{
    border-radius: 5px;
}

.center-cropped {
  width: 200%;
  height: 200%;
  object-fit: cover;
}

/*--------Typography-------------*/
p {
    margin-bottom: 1.7em;
}
h1 {
 font-family: Lato, sans-serif;
 font-size: 36px;
 margin-bottom: 30px;
 line-height: 1.2;
}
h2{
	font-family: Lato, sans-serif;
	font-size: 30px;
	margin-bottom: 30px;
	line-height: 1.2;
}
h3{
	font-family: Lato, sans-serif;
	font-size: 24px;
	margin-bottom: 30px;
	line-height: 1.2;
}
h4{
	font-family: Lato, sans-serif;
	font-size: 18px;
	margin-bottom: 30px;
	line-height: 1.2;
}
h5{
	font-family: Lato, sans-serif;
	font-size: 16px;
	margin-bottom: 30px;
	line-height: 1.2;
}

/*--------Article Details-------------*/
.details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.details span{
    text-transform: uppercase;
    font-size: 12px;
    color: #858585;
}

.details p{
    font-size: 12.5px;
    margin-top: 5px;
    padding-top: 20px;
    color: #777777;
}


/* remove link decoration */
.details a{
    color: #303030;
    font-size: 12px;
    text-decoration: none;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/*----------------------------------------*/

</style>
