---
import "../../styles/root.css";
import Author from '../../data/author.json';

export interface Props {
	post: {
        frontmatter: {
            title: string;
            date: string;
            description: string;
            img: string;
        };
    }[];
}
const { post } = Astro.props;
const { title, publishDate, writer, href, description, img, alt, tags } = post.frontmatter;

const tag = tags.split(",")[0]; // returns the first tag

---
<!--Article-->

    <li class="article">
        <article>
            <div class="coffee">
                <img class="center-cropped" src={post.frontmatter.img} alt={alt} >
            </div>

            <div class="details">
                <a href={post.url}><h1>{title}</h1></a>
                <span>{publishDate}  |  {tag}</span>
                <br/>
                <span>{writer}</span>

                <p>{description}</p>
                <a href={post.url}> Read more.</a>
            </div>
        </article>
    </li>


<style>

/*----------------Section--------------*/

article{
    width: 600px;
    height: 190px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 5px;
    margin: 25px;
    padding: 15px;
    display: flex;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

article:hover {
    transform: translateY(-5px);
}

a{
    text-decoration: none;
}
li {
    list-style: none;
}


/*------------Coffee Image-------------*/
.coffee{
    width: 170px;
}
.coffee > img{
    border-radius: 5px;
}

.center-cropped {
  width: 160px;
  height: 160px;
  object-fit: cover;
  background-repeat: no-repeat;
}

/*--------Article Details-------------*/
.details{
    width: auto;
    padding-left: 5px;
}

.details span{
    text-transform: uppercase;
    font-size: 12px;
    /* color: #303030; */
}

.details p{
    font-size: 12.5px;
    margin-top: 5px;
    padding-top: 20px;
    /* color: #303030; */
}

/* remove link decoration */
.details a{
    /* color: #303030; */
    font-size: 12px;
    text-decoration: none;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/*-------------Media --------------------*/
/* make media verticle cards width fit screen with small margin-left and margin-right*/
@media (max-width: 600px) {
    article{
        width: 100%;
    }
    .coffee{
        width: 100%;
    }
    .details{
        width: 100%;
    }
}

</style>
