---
import Meta from '../components/MetaTags.astro';
import Header from '../components/Header.astro';
import Cursor from '../components/CursorEffect/Cursor.astro';
import BlogPost from '../components/blog/Post.astro';
import Author from '../components/Author.astro'
import LeftSidebar from '../components/sidebar/LeftSidebar.astro';
import Footer from '../components/Footer/Footer.astro';
import { getBlogPosts, getBookPosts } from '../utils/api.astro';
	const { mostRecentBlogPost } = await getBlogPosts();
	const { mostRecentBookPost } = await getBookPosts();

const { content } = Astro.props;
const { title, description, publishDate, author, heroImage, permalink, alt, href } = content;
---

<html lang={content.lang || 'en'}>
	<head>
		<Meta title={title} description={description} permalink={permalink} />
	</head>

	<body>
		<Cursor />
		<div class="body">
			<LeftSidebar  mostRecentBlogPost = {mostRecentBlogPost} mostRecentBookPost = {mostRecentBookPost} />
		<main class="home_content">
			<Header />
			<div class="wrapper">
				<BlogPost title={title} author={author} publishDate={publishDate} heroImage={heroImage} alt={alt} img={} >
					<Author name={author} href={href}/>
					<slot />
				</BlogPost>
			</div>
		</main>
	</div>
	</body>
	<Footer />
</html>

<style>
	.wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 65em;
	padding-left: 2rem;
	padding-right: 2rem;
	width: 100%;
}
</style>