---
import Meta from '../components/MetaTags.astro';
import Header from '../components/Header.astro';
import BlogPost from '../components/blog/Post.astro';
import LeftSidebar from '../components/sidebar/LeftSidebar.astro';
import { getLatestPost } from '../utils/api.astro';

const { content } = Astro.props;
const { title, description, publishDate, author, heroImage, permalink, alt } = content;
const { allBookPosts, allBlogPosts, mostRecentBlogPost, mostRecentBookPost } = await getLatestPost();

---

<html lang={content.lang || 'en'}>
	<head>
		<Meta {title} {description} {permalink} />
	</head>

	<body>
		<div class="body">
			<LeftSidebar  mostRecentBlogPost = {mostRecentBlogPost} mostRecentBookPost = {mostRecentBookPost} />
		<main class="home_content">
			<Header />
			<div class="wrapper">
				<BlogPost {title} {author} {heroImage} {publishDate} {alt}>
					<slot />
				</BlogPost>
			</div>
		</main>
	</div>
	</body>
</html>

<style>
	.wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 65em;
	padding-left: 2rem;
	padding-right: 2rem;
	width: 100%;
}
</style>