---
import '../styles/theme.css';
import '../styles/index.css';
import Meta from '../components/MetaTags.astro';
import Navbar from '../components/Navbar.astro';
import Cursor from '../components/cursorEffect/Cursor.astro';
import BlogPost from '../components/blog/Post.astro';
import Footer from '../components/footer/Footer.astro';
import { getBlogPosts, getBookPosts } from '../utils/api.astro';
	const { mostRecentBlogPost } = await getBlogPosts();
	const { mostRecentBookPost } = await getBookPosts();

const { content } = Astro.props;
const { title, author, year, publishDate, name, href, description, img, alt,permalink } = content;
---

<html lang={content.lang || 'en'}>
	<head>

		<Meta title={title} description={description} permalink={permalink} />
		<script src="https://kit.fontawesome.com/e2fcf864fc.js" crossorigin="anonymous"></script>
	</head>

	<body>
		<Cursor />
		<div class="body">

			<main class="home_content">

				<Navbar />				

				<div class="container">
					<div class="grid">
						<BlogPost title={title} publishDate={publishDate} name={name} href={href} img={img} description={description} alt={alt}  >
							<slot />
						</BlogPost>
					</div>
				</div>
			</main>
		</div>
	</body>

	<Footer />

</html>

<style>
</style>