---
import Meta from '../components/MetaTags.astro';
import Header from '../components/Header.astro';
import BookPost from '../components/bookShelf/Post.astro';
import LeftSidebar from '../components/sidebar/LeftSidebar.astro';
import Footer from '../components/Footer/Footer.astro';
import { getBlogPosts, getBookPosts } from '../utils/api.astro';

const { mostRecentBlogPost } = await getBlogPosts(); // Fetch most recent blog post
const { mostRecentBookPost } = await getBookPosts(); // Fetch most recent book post
const { content } = Astro.props; // Get content from props
const { title, description, publishDate, author, heroImage, permalink, alt, img} = content; 
---

<html lang={content.lang || 'en'}>
	<head>

		<Meta title={title} description={description} permalink={permalink} />

	</head>

		<body>
			<div class="body">

				<LeftSidebar  mostRecentBlogPost = {mostRecentBlogPost} mostRecentBookPost = {mostRecentBookPost} />

				<main class="home_content">

					<Header />

					<div class="wrapper">

						<BookPost title={title} author={author} publishDate={publishDate} heroImage={heroImage} alt={alt} img={img} >
							<slot />
						</BookPost>

					</div>
				</main>
			</div>
		</body>

	<Footer />
	
</html>

<style>
	.wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 65em;
	padding-left: 2rem;
	padding-right: 2rem;
	width: 100%;
}
</style>